@import "../../../mixsins.scss";
.signUp {
  margin-bottom: 100px;
  .box {
    @include dFlex(center);
  }
  &__cart {
    width: 600px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 30px;
    input {
      width: 100%;
      margin-top: 10px;
      padding: 15px 13px;
      margin-bottom: 30px;
      border: 1px solid rgb(233, 233, 233);
      border-radius: 5px;
      outline: 0;
      background: rgb(255, 255, 255);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .userEmails {
        flex-direction: column;
        gap: 30px;
        @include sm {
          display: flex;
          flex-direction: row;
        }
      }
    }
    .buttons {
      @include dFlex;
      button {
        padding: 11px 21px;
        border: 1px solid #eee;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        background: rgb(245, 62, 50);
        &:hover,
        &:focus {
          background-color: #fff;
          color: rgb(245, 62, 50);
          border: 1px solid rgb(245, 62, 50);
        }
      }
      a {
        color: rgb(119, 119, 119);
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.88px;
        text-align: center;
      }
    }
  }
}
