@import "../../../mixsins.scss";
.login {
  margin-bottom: 100px;
  .box {
    @include dFlex(center);
  }
  &_cart {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;

    background: rgb(255, 255, 255);
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        width: 100%;
        padding: 15px 13px;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 5px;

        background: rgb(255, 255, 255);
        margin-bottom: 10px;
      }
    }
  }
  &__links {
    @include dFlex;
    .check__box {
      display: flex;
      gap: 5px;
    }
  }

  &__buttons {
    @include dFlex;
    button,
    a {
      padding: 10px 21px;
      border-radius: 5px;
      border: 1px solid #eee;
      background: rgb(245, 62, 50);
      color: #eee;
      font-size: 17px;
      font-weight: 700;
      &:hover,
      &:focus {
        background-color: #fff;
        color: rgb(245, 62, 50);
        border: 1px solid rgb(245, 62, 50);
      }
    }
  }
}
